<div class="l-popup">
  <h2>{{osmTypecapitalized}} {{osmElem.id}}</h2>
  <p>
    {{opfElem.name}}
  </p>
  {{#each opfElem.numberTags}}
    <h3 class="">{{key}}</h3>
    <table style="width:100%">
      <tr>
        <th>Original:</td>
        <td>{{original}}</td>
        {{#unless formattedBefore}}
          <td rowspan="3">
            <input type="checkbox" id="marker-{{../leafletId}}-cb-{{key}}" class="gillam-cb-input"
            {{#if checked}} checked {{/if}}/>
            <label for="marker-{{../leafletId}}-cb-{{key}}" class="gillam-cb"></label> 
          </td>
        {{/unless}}
      </tr>
      <tr>
        <th>Formatted:</td>
        <td>{{formatted}}</td>
      </tr>
    </table>
  {{/each}}
</div>